{% extends "products/base.html" %}
{% load static %}
{% load mptt_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}
    

    <title>Profile</title>
</head>
<body>
    <div class="full-content">
        {% block content %}
        <main class="profile-page">
            <div class="profile-page__container container__extra__small">
                <div class="profile-page__content">
                    <div class="d-flex justify-content-end align-center">
                        <btn class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#changePassword" href="{% url 'user:change_password' %}">Change Password</btn>
                        <btn class="btn btn-primary" href="{% url 'user:logout' %}">Logout</btn>
                    </div>
                    <h2 class="profile-page__title my-4">Welcome, {{ user.username }}</h2>
                    
                    <form class="profile-page__user-info">
                       <h1 class="profile-page__user-info__title">Інформація вашого профілю</h1> 
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваш логін:</span> 
                            <input class="profile-page__user-info__input" 
                            oninput="userForm.triggerInput('userName')"
                            data-field="userName"
                            type="text" 
                            disabled
                            value="{{ user.username }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.editField('userName')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.clearField('userName')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="userName" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваше ім'я: </span>
                            <input class="profile-page__user-info__input" 
                            oninput="userForm.triggerInput('firstName')"
                            data-field="firstName"
                            type="text" 
                            disabled
                            value="{{ user.first_name }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.editField('firstName')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.clearField('firstName')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="firstName" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваше прізвище: </span>
                            <input class="profile-page__user-info__input" 
                            oninput="userForm.triggerInput('lastName')"
                            data-field="lastName"
                            type="text" 
                            disabled
                            value="{{ user.last_name }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.editField('lastName')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.clearField('lastName')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="lastName" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваш email: </span>
                            <input class="profile-page__user-info__input" 
                            oninput="userForm.triggerInput('email')"
                            data-field="email"
                            type="text" 
                            disabled
                            value="{{ user.email }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.editField('email')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.clearField('email')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="email" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваш телефон: </span> 
                            <input class="profile-page__user-info__input" 
                            oninput="userForm.triggerInput('phoneNumber')"
                            data-field="phoneNumber"
                            type="tel" 
                            disabled
                            value="{{ user.phone_number }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.editField('phoneNumber')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.clearField('phoneNumber')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="phoneNumber" class="error-message-hidden"></p>
                        <div class="profile-page__user-info__input-wrap">
                            <span class="profile-page__user-info__label">Ваша адреса: </span> 
                            <input class="profile-page__user-info__input" 
                            oninput="userForm.triggerInput('address')"
                            data-field="address"
                            type="tel" 
                            disabled
                            value="{{ address.address_line1 }}" 
                            />
                            <div class="profile-page__user-info__btns-wrap">
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.editField('address')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512">
                                        <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                </button>
                                <button type="button" class="btn btn-primary profile-page__user-info__btn" onclick="userForm.clearField('address')">
                                    <svg class="profile-page__user-info__btn-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512">
                                        <path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg>
                                </button>
                            </div>
                        </div>
                        <p data-error="address" class="error-message-hidden"></p>
                        <button class="btn btn-primary my-3" data-submit="btn">Зберегти</button>
                    </form>
                </div>
            </div>
            
        </main>
        {% endblock %}
    </div>
    <div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePassword" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="changePassword">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    {% block js %}<script src="{% static 'js/profile.js' %}"></script>{% endblock %}
</body>
</html>
