{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/footer/about_us.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="full-content">
                {% for item in informations %}
                    <h1>{{ item.title }}</h1>
                    <p>{{ item.description }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}